apiVersion: v1
data:
  APP_KEY: YmFzZTY0OlpIVnRiWGxrWVhSaENnPT0K
  DB_CONNECTION: bXlzcWw=
  DB_DATABASE: ZHVtbXlkYXRhCg==
  DB_HOST: MTAuNjAuMTkyLjQ=
  DB_PASSWORD: ZHVtbXlkYXRhCg==
  DB_PORT: MzMwNg==
  DB_USERNAME: ZHVtbXlkYXRhCg==
  MAIL_DRIVER: c210cA==
  MAIL_ENCRYPTION: bnVsbA==
  MAIL_HOST: c210cC5tYWlsdHJhcC5pbw==
  MAIL_PASSWORD: ZHVtbXlkYXRhCg==
  MAIL_PORT: MjUyNQ==
  MAIL_USERNAME: ZHVtbXlkYXRhCg==
  PASSPORT_PRIVATE_KEY: ZHVtbXlkYXRhCg==
  PASSPORT_PUBLIC_KEY: ZHVtbXlkYXRhCg==
  SENTRY_LARAVEL_DSN: ZHVtbXlkYXRhCg==
kind: Secret
metadata:
  name: project1-service-dotenv-secrets
  namespace: qa
type: Opaque