apiVersion: v1
items:
- apiVersion: v1
  data:
    ca.crt: null
    tls.crt: ZHVtbXlkYXRhCg==
    tls.key: ZHVtbXlkYXRhCg==
  kind: Secret
  metadata:
    annotations:
      certmanager.k8s.io/alt-names: '*.example.com,example.com'
      certmanager.k8s.io/common-name: example.com
      certmanager.k8s.io/issuer-kind: ClusterIssuer
      certmanager.k8s.io/issuer-name: letsencrypt
    labels:
      certmanager.k8s.io/certificate-name: cert-wildcards
    name: ingress-cert
    namespace: qa
  type: kubernetes.io/tls